.App {
  background-color: rgba(226, 250, 226, 0.548);
  min-height: 100vh;
}

.gradient {
  background: rgb(246,243,4);
background: radial-gradient(circle, rgba(246,243,4,0.5550595238095238) 0%, rgba(91,201,242,0.6587009803921569) 100%);
  border-radius: 30px;
  border: 2px solid rgba(1, 91, 185, 1);
}

.main-title {
  color: rgba(1, 91, 185, 1);
  text-shadow: rgba(240, 237, 42, 0.829) 10px 10px 7px;
}
